/* Universal Styles */
body{
font-family: Helvetica;
font-size: 22px;
margin: 0;
width: 100%;
color: seashell;
background-color: black;
opacity: 0.9;
}
h2, span, p{

}

/* Header */
header{
display: flex;
position: fixed;
height: 69px;
width: 100%;
top: 0;
overflow: scroll;
z-index: 1;
border-bottom: 1px solid seashell;
background-color: black;
}

header img{
height: 50px;
margin-left: 10px;
margin-top: 9px;
}

header a{
text-decoration: underline;
color: white;
margin-left: 8px;
}

.header-links{
display: inline;
padding: 20px;
margin-top: 9px;
}

.header-image{
flex-grow: 1;
}
/* Mission */
.mission{
  padding-top: 50px;
  background-image: url("./img-mission-background.jpg");
  height: 700px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}
.mission-runner{
  background-color: black;
  width: 1200px;
  color: seashell;
  text-align: center;
}
/* Tea of the Month Selection */
.tea{
  height: 200px;
  width: 300px;
  display: inline-block;
  padding: 10px;
}
.tea-selection{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.selection-text{
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.blitz-tea, .rum-tea, .donut-tea, .myrtle-tea, .bedford-tea{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Locations */



.location-container{
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 500px;
  flex-direction: row;
}

.location1{
  flex-basis: 280px;
  text-align: center;
  padding-bottom: 30px;
  margin: 5px 20px;
  background-color: black;
}
.main-location{
  background-image: url("./img-locations-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
  border: 2px solid red;

}
.location-text{
border: 2px solid green;
text-align: center;
}






/* Footer */
footer{
  text-align: center;
  height: 200px;
}
#copyright{
  margin-left: 20px;
  margin-bottom: 10px;
}
